<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Eclipse Modeling 2018-09" sequenceNumber="15">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.e4.core.tools.feature.feature.group" version="4.9.0.v20180823-1503"/>
			<unit id="org.eclipse.egit.feature.group" version="5.1.0.201809111528-r"/>
			<unit id="org.eclipse.emf.cdo.epp.feature.group" version="4.7.0.v20180530-1201"/>
			<unit id="org.eclipse.emf.compare.egit.feature.group" version="3.3.4.201806221350"/>
			<unit id="org.eclipse.emf.ecoretools.explorer.contextual.feature.group" version="3.3.0.201706121316"/>
			<unit id="org.eclipse.emf.ecoretools.design.feature.group" version="3.3.0.201706121316"/>
			<unit id="org.eclipse.emf.ecp.sdk.feature.feature.group" version="1.18.0.20180910-0753"/>
			<unit id="org.eclipse.emf.parsley.sdk.feature.group" version="1.4.0.v20180906-1545"/>
			<unit id="org.eclipse.emf.emfstore.sdk.feature.feature.group" version="1.9.0.v20170530-0703"/>
			<unit id="org.eclipse.emf.query.sdk.feature.group" version="1.12.0.201805030653"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="2.15.0.v20180905-1732"/>
			<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.12.0.201805140824"/>
			<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.12.0.201805030717"/>
			<unit id="org.eclipse.gef.sdk.feature.group" version="3.11.0.201606061308"/>
			<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.12.0.201806010809"/>
			<unit id="org.eclipse.jdt.feature.group" version="3.15.0.v20180906-0745"/>
			<unit id="org.eclipse.mylyn.bugzilla_feature.feature.group" version="3.24.2.v20180905-0003"/>
			<unit id="org.eclipse.mylyn.context_feature.feature.group" version="3.24.2.v20180905-0014"/>
			<unit id="org.eclipse.mylyn_feature.feature.group" version="3.24.2.v20180905-0003"/>
			<unit id="org.eclipse.mylyn.ide_feature.feature.group" version="3.24.2.v20180905-0014"/>
			<unit id="org.eclipse.mylyn.java_feature.feature.group" version="3.24.2.v20180905-0014"/>
			<unit id="org.eclipse.mylyn.pde_feature.feature.group" version="3.24.2.v20180905-0014"/>
			<unit id="org.eclipse.mylyn.wikitext_feature.feature.group" version="3.0.25.201806201740"/>
			<unit id="org.eclipse.ocl.all.sdk.feature.group" version="5.6.0.v20180916-1223"/>
			<unit id="org.eclipse.pde.feature.group" version="3.13.200.v20180906-0745"/>
			<unit id="org.eclipse.platform.feature.group" version="4.9.0.v20180906-1121"/>
			<unit id="org.eclipse.sdk.feature.group" version="4.9.0.v20180906-1121"/>
			<unit id="org.eclipse.tips.feature.feature.group" version="0.2.100.v20180821-0700"/>
			<unit id="org.eclipse.uml2.sdk.feature.group" version="5.4.1.v20180903-1400"/>
			<unit id="org.eclipse.xsd.sdk.feature.group" version="2.15.0.v20180722-1116"/>
			<unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="2.9.1.201705291011"/>
			<repository location="http://download.eclipse.org/releases/2018-09/201809191002"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="javax.xml.bind" version="2.2.0.v201105210648"/>
			<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180905201904/repository"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="tools.mdsd.ecoreworkflow.mwe2lib.feature.feature.group" version="0.1.0.201904021150"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/mdsdtools/ecoreworkflow/releases/"/>
		</location>
	</locations>
</target>